<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.apache.pig.contrib.eclipse.editors.PigEditor"
            default="false"
            extensions="pig"
            icon="icons/pig.gif"
            id="org.apache.pig.contrib.eclipse.pigEditor"
            name="PigEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.apache.pig.contrib.eclipse.editor.scope"
            name="PigEditor scope"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
</plugin>
